*{

  color: black;
  text-align: center;
  font-family: monospace;

}



.size{
align-items: center;
  height: 5.6vmin;
 
}

.title{
  font-size: 5vmin;
}

.center{
  align-items: center;
  padding-top: 10vmin;
}

